/* mixins */
@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin nav-bar-element {
  color: white;
  text-decoration: none;
  font-size: $medium-large-font;
  margin-right: 2%;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &--active {
    opacity: 1;
  }
}

/* variables */

// colors
$mild-blue: #19549b;
$basic-blue: #023470;
$strong-blue: #020e31;
$blue-linear-gradient: linear-gradient(180deg, $strong-blue, $basic-blue);
$light-blue-linear-gradient: linear-gradient(180deg, $basic-blue, $mild-blue);
$light-grey: #f6f6f6;
$light-medium-grey: rgb(211,211,211);
$medium-grey: rgb(169,169,169);
$dark-grey: rgb(104,104,104);

// fonts sizes
$extra-large-font: 48px;
$large-font: 36px;
$medium-large-font: 28px;
$medium-font: 22px;
$small-medium-font: 16px;
$small-font: 12px;
$extra-small-font: 8px;

// fonts families
$comic-font-family: "Comic Sans MS";

// radius border
$small-border-radius: 4px;

// screen sizes
$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktops: 1200px;