/* mixins */
@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin nav-bar-element {
  color: white;
  text-decoration: none;
  font-size: $medium-large-font;
  margin-right: 4%;
  opacity: 0.5;

  &:hover, &--active {
    opacity: 1;
  }
}

@mixin home-button {
  margin-right: 1%;
  margin-left: 1%;
  font-size: $medium-font;
  font-family: $comic-font-family;
  padding: 1%;
  width: 12%;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: $cayn;
  color: white;
  cursor: pointer;
  opacity: 0.5;
  &:hover, &--active {
    background-color: $blue;
    opacity: 1;
  }
}

@mixin home-dropdown {
  font-size: $small-medium-font;
  font-family: $comic-font-family;
  padding: 5%;
  width: 100%;
  background-color: $light-blue;
  color: white;
  cursor: pointer;
}

/* variables */

// colors
$light-blue: #2676d8;
$mild-blue: #19549b;
$basic-blue: #023470;
$strong-blue: #020e31;
$blue-linear-gradient: linear-gradient(180deg, $strong-blue, $basic-blue);
$light-blue-linear-gradient: linear-gradient(180deg, $basic-blue, $mild-blue);

$pink: #e52e71;
$orange: #ff8a00;
$pink-orange-linear-gradient: linear-gradient(145deg, $orange, $pink);

$light-grey: #f6f6f6;
$light-medium-grey: rgb(211,211,211);
$medium-grey: rgb(169,169,169);
$dark-grey: rgb(104,104,104);

$blue: rgb(47, 93, 125);
$cayn: rgb(155, 214, 203);
$light-gray: rgb(244, 244, 244);
$orange: rgb(242, 103, 40);
$light-orange: rgb(248, 158, 112);

// fonts sizes
$extra-large-font: 48px;
$large-font: 36px;
$medium-large-font: 28px;
$medium-font: 22px;
$small-medium-font: 16px;
$small-font: 12px;
$extra-small-font: 8px;

// fonts families
$comic-font-family: "Comic Sans MS";

// radius border
$small-border-radius: 4px;

// screen sizes
$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktops: 1200px;